<div id="gears">
    <form>
        <input type="radio" name="reference" id="ref-annulus">
        <label class="gear-toggle animate" for="ref-annulus">
            <span>Кольцевая</span>
        </label>
        <input type="radio" name="reference" id="ref-planet" checked>
        <label class="gear-toggle animate" for="ref-planet">
            <span>Передаточная</span>
        </label>
        <input type="radio" name="reference" id="ref-sun">
        <label class="gear-toggle animate" for="ref-sun">
            <span>Центральная</span>
        </label>
    </form>
</div>