<section class="delivery-section">
    <div class="delivery-column delivery-column--lightblue">
        <img src="img/delivery-baikal.png" class="delivery-logo img-responsive baikal pull-right" alt="">
    </div>
    <!--<div class="delivery-column delivery-column&#45;&#45;stub">-->
    <!--</div>-->
    <div class="delivery-column delivery-column--yellow">
        <img src="img/delivery-dl.png" class=" delivery-logo img-responsive dl center-block" alt="">
    </div>
    <div class="delivery-column delivery-column--blue">
        <img src="img/delivery-pek.png" class="delivery-logo img-responsive pek" alt="">
    </div>
    <img src="img/delivery-tracks.png" usemap="#delivery-map" alt="" class="delivery-tracks center-block img-responsive">
    <map name="delivery-map" id="delivery-map">
        <area alt="" title="Байкал" href="#" shape="poly" class="baikal" coords="440,576,469,541,472,125,423,80,127,96,0,221,1,575" />
        <area alt="" title="Деловые линии" href="#" shape="poly" class="dl" coords="446,576,477,537,476,100,520,1,840,1,876,540,901,575" />
        <area alt="" title="ПЭК" href="#" shape="poly" class="pek" coords="906,575,880,539,865,186,1013,95,1304,130,1344,191,1343,576" />
    </map>
</section>