<section class="delivery-section">
    <div class="delivery-column delivery-column--lightblue">
    </div>
    <!--<div class="delivery-column delivery-column&#45;&#45;stub">-->
    <!--</div>-->
    <div class="delivery-column delivery-column--yellow">
    </div>
    <div class="delivery-column delivery-column--blue">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="img/delivery-baikal.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/delivery-dl.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/delivery-pek.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <img src="img/delivery-tracks.png" alt="" class="delivery-tracks center-block img-responsive">
</section>