.item-section {
  margin-bottom: 150px;
  min-height: calc(~'100vh - 568px');

  .item-title {
    .font(@russo, 4.5em, 1em);
    color: @orange;
  }

  .item-text {
    margin: 50px 0;
    .font(@akrobat, 2.4em, 1.4em);
    color: @dark;
  }
}
