.index-banner {
  position: relative;
  height: 100vh;

  background: url("../img/banner.jpg") no-repeat top center;
  background-size: cover;
  margin-bottom: 46px;

  z-index: 1000;
}

.page-header__banner {
  margin-top: 30vh;
  .font(@russo, 8.5em, 1em);
  text-transform: uppercase;
  color: @orange;
}

.section {
  margin-top: 94px;
}

.spring {
  display: block;
  width: 35px;
  height: 142px;
  margin: 30px auto 50px;

  cursor: pointer;

  background: url("../img/spring-icon.png") no-repeat center center;
}


.flexslider-index {
  overflow: hidden;

  .flexslider:hover .flex-direction-nav .flex-prev,
  .flexslider:hover .flex-direction-nav .flex-next {
    width: 41px;
    height: 79px;
  }

  .flex-direction-nav a.flex-next:before {
    content: '';
    background: url("../img/arrow-left.png") center top no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .flex-direction-nav a {
    width: 41px;
    height: 79px;
  }

  .flex-direction-nav a:before {
    content: '';
    display: block;
    width: 41px;
    height: 79px;
    background: url("../img/arrow-left.png") center top no-repeat;
  }

  .slide-slogan {
    position: absolute;

    color: @white;
    .font(@russo, 5em, 1.2em);

    text-transform: uppercase;

    @media only screen and (min-width : 992px) {
      .font(@russo, 5em, 1.2em);
    }

    @media only screen and (min-width : 992px) {
      .font(@russo, 7em, 1.2em);
    }

    &--1 {
      top: 40%;
      right: 20%;
      text-align: right;
    }

    &--2 {
      top: 10%;
      left: 10%;
      text-align: left;
    }

    &--3 {
      top: 10%;
      left: 10%;
      color: black;
    }
  }
}

.production {
  a {
    text-decoration: none;
  }

  .card {
    padding-bottom: 20px;

    &:hover {
      background-color: white;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
  }

  .img-wrapper {
    margin-top: 60px;
  }

  img {
    display: inline-block;
    vertical-align: bottom;
  }

  .card-block {
    margin-top: 26px;
  }

  .card-text {
    text-align: center;
    .font(@russo, 2.8em, 1.2em);
    text-transform: uppercase;
    color: @orange;
  }
}

.designation-row:not(:last-of-type) {
  margin-bottom: 40px;
}

.designation {
  overflow: visible;

  .card {
    position: relative;

    min-height: 350px;
    background: linear-gradient(to top, @orange 0%, @orange 17%, @white 50%, @white 100%);
    transition: background .3s ease;

    overflow: visible;

    &:hover .gradient-assistant {
      opacity: 1;
    }

    &:hover img {
      transform: scale(1.1) translateX(-45%);
    }

  }

  .gradient-assistant {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: @orange;
    transition: opacity .4s linear;
    z-index: 10;
  }

  img {
    position: absolute;

    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;

    transition: all .2s ease-in;

    @media only screen and (min-width : 320px) {
      max-width: 100%;
      height: auto;
    }

  }

  .card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 35px;

    //text-align: center;
    text-transform: uppercase;
    .font(@russo, 2em, 0.95em);
    color: @white;

    z-index: 101;
  }

  .primary-btn {
    margin-top: 70px;
  }
}

.clients {
  .row {
    margin-bottom: 50px;
  }

  .img--lukoil,
  .img--rzhd {
    margin-top: 40px;
  }

  .img--autovaz {
    margin-top: 20px;
  }

  .img--rostselmash {
    margin-top: 52px;
  }

  .img--rostvertol,
  .img--tagmet,
  .img--agrocom {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

