<section class="about section container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 class="section-title text-center reveal">О нас</h2>
            <p class="section-text section-text reveal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto corporis culpa cum dicta doloremque enim eos excepturi facilis in iure iusto laboriosam laudantium nam nemo obcaecati officia perspiciatis quaerat quibusdam quod repellat soluta suscipit tempora tempore, temporibus vel vero. Aut ea eos esse eveniet hic impedit inventore placeat sapiente!</p>
            <div class="spring"></div>
        </div>
    </div>
</section>
<!--<section class="container-fluid features-slider">-->
    <!--<div class="row">-->
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="container-fluid slide-item">
                        <div class="row relative">
                            <p class="slide-slogan slide-slogan--1">
                                Широкий<br>
                                ассортимент
                            </p>
                            <img src="img/slide1.jpg"/>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid slide-item">
                        <div class="row relative">
                            <p class="slide-slogan slide-slogan--2">
                                Собственное<br>
                                производство
                            </p>
                            <img src="img/slide2.jpg"/>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid slide-item">
                        <div class="row relative">
                            <p class="slide-slogan slide-slogan--3">
                                Пружины любой<br>
                                сложности
                            </p>
                            <img src="img/slide3.jpg"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <!--</div>-->
<!--</section>-->
<section class="production section container">
    <a name="products"></a>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 class="section-title text-center reveal">Производство пружин</h2>
            <p class="about-text section-text reveal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto corporis culpa cum dicta doloremque enim eos excepturi facilis in iure iusto laboriosam laudantium nam nemo obcaecati officia perspiciatis quaerat quibusdam quod repellat soluta suscipit tempora tempore, temporibus vel vero. Aut ea eos esse eveniet hic impedit inventore placeat sapiente!</p>
        </div>
    </div>
    <div class="row reveal">
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring1.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины кручения</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring2.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины сжатия</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring3.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины тарельчатые</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring4.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Нестандартные пружины</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row reveal">
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring5.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины кручения</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring6.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины сжатия</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring7.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Пружины тарельчатые</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card reveal-item">
                <div class="img-wrapper">
                    <img class="card-img-top img-responsive" src="img/spring8.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">Нестандартные пружины</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <!--//= ../cog-button/cog-button.html-->
    <a href="#" class="cog-button center-block">
        <div class="cog"></div>
        Подробнее
    </a>

</section>
<section class="designation section container">
    <div class="row reveal">
        <div class="col-xs-10 col-xs-offset-1">
            <h2 class="section-title text-center">Специализация пружин</h2>
            <p class="designation-text section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto corporis culpa cum dicta doloremque enim eos excepturi facilis in iure iusto laboriosam laudantium nam nemo obcaecati officia perspiciatis quaerat quibusdam quod repellat soluta suscipit tempora tempore, temporibus vel vero. Aut ea eos esse eveniet hic impedit inventore placeat sapiente!</p>
        </div>
    </div>
    <div class="row designation-row">
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/machine.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-right">Общее машиностроение</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/agriculture.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-center">Сельскохозяйственное машиностроение</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/railway.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-left">Железнодорожный транспорт</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row designation-row">
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/miner.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-right">Горно-шахтное оборудование</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/lift.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-center">Лифтовое хозяйство</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/metall.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-left">Металлургический комплекс</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row designation-row">
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/auto.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-right">Авто-мото транспорт</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/pipeline.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-center">Подвески трубопроводов</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card reveal-item">
                <img class="card-img-top" src="img/tram.png" alt="Card image cap">
                <div class="card-block">
                    <div class="gradient-assistant"></div>
                    <p class="card-text text-left">Городской электротранспорт</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="#" class="primary-btn">Заказать пружину</a>
        </div>
    </div>
</section>
<section class="container section clients">
    <h2 class="section-title text-center">Наши клиенты</h2>
    <div class="row">
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--gazprom" src="img/gazprom.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--lukoil" src="img/lukoil.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--rzhd" src="img/rzhd.jpg" alt="" class="clients__logo"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--autovaz" src="img/autovaz.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--rostselmash" src="img/rostselmash.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4 col-xs-4"><img class="reveal-item img-responsive img--uaz" src="img/uaz.jpg" alt="" class="clients__logo"></div>
    </div>
    <div class="row visible-md-block visible-lg-block">
        <div class="col-md-4"><img class="reveal-item img--rostvertol" src="img/rostvertol.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4"><img class="reveal-item img--tagmet" src="img/tagmet.jpg" alt="" class="clients__logo"></div>
        <div class="col-md-4"><img class="reveal-item img--agrocom" src="img/agrocom.jpg" alt="" class="clients__logo"></div>
    </div>
</section>

