<section class="page-404">
    <div class="container">
        <div class="row">
            <h2 class="page-404-title text-center">Ой,</h2>
            <p class="page-404-text text-center">Произошла ошибка. Вы попали на страницу,
                которой не существует, либо зашли по неверному адресу.
                Попробуйте вернуться на <a href="index.html">главную.</a></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 gear-wrapper">
                //= ../gear/gear.html
            </div>
        </div>
    </div>
</section>