<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <a href="index.html">
                    <img src="img/logo.png" alt="Точмаш" class="logo img-responsive">
                </a>
                <p class="footer__company-name">&copy; ООО &laquo;Донецкий Завод Точного машиностроения&raquo;, 2010-2017</p>
            </div>
            <div class="col-md-3 col-md-offset-3 col-xs-12">
                <p class="footer__address">
                    г. Ростов-на-Дону, <br>
                    ул. Лермонтовская, 108
                </p>
                <a class="footer__phone" href="tel:88635222457">8(863)-522-24-57</a>
            </div>
        </div>
    </div>
</footer>