.footer {
  position: relative;
  padding: 30px 15px 60px;

  @media only screen and (min-width : 320px) {
    overflow: hidden;
  }

  background-color: @lightgrey;

  &::before {
    .shadow-top();
  }
}

.footer__company-name {
  .font(@russo, 1.6em, 2em);

  color: @darkgrey;
}

.footer__address {
  margin-top: 60px;
  .font(@russo, 2em, 1em);
  color: @white;
}

.footer__phone {
  .font(@russo, 2.5em, 1em);
  color: @darkgrey;
}