<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="map"></div>
        </div>
        <div class="col-md-5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eum facilis laborum molestias pariatur perspiciatis possimus. Amet fuga labore nesciunt officiis recusandae repellat ut! Aspernatur at atque consequuntur corporis dolor est eveniet facilis minima reiciendis ut! Aperiam aspernatur cupiditate distinctio esse laudantium libero magni molestiae quia sapiente, suscipit voluptatibus voluptatum.
            </p>
        </div>
    </div>
</div>