<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="map"></div>
        </div>
        <div class="col-md-5">
            <p>
                Адрес: Ростовская обл., г Ростов-На-Дону, ул. Лермонтовская, 108, оф 2.
            </p>
            <p>
                email: dontochmash@bk.ru
            </p>
            <p>
                Телефон: 8(863)-522-24-57
            </p>
            <p>
                8 (958)-544-01-60
            </p>
        </div>
    </div>
</div>