<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <p class="contacts-data">
                Адрес: Ростовская обл., г Ростов-На-Дону, ул. Лермонтовская, 108, оф 2.<br>
                email: dontochmash@bk.ru<br>
                Телефон: 8(863)-522-24-57<br>
                8 (958)-544-01-60
            </p>
        </div>
        <div class="col-md-7">
            //= ../gear/gear.html
        </div>
    </div>
</div>