    <!--Nav begin -->
<div class="page-header__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2">
        <a class="navbar-brand col-md-3" href="#">
          <img alt="Brand" src="img/logo.png" width="200" height="50">
        </a>
      </div>
      <div class="col-md-9">
        <header class="navbar page-header">
            <a class="btn btn-phone pull-right" href="tel:+78004005050">+7(800)-200-95-95</a>
        </header>
        <nav>
          <div class=" btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group"><a class="nav-btn btn js-scroll" role="button" href="#products">Продукция</a></div>
            <div class="btn-group" role="group"><a class="nav-btn btn js-scroll" role="button" href="#services">Услуги</a></div>
            <div class="btn-group" role="group"><a class="nav-btn btn js-scroll" role="button" href="#delivery">Доставка</a></div>
            <div class="btn-group" role="group"><a class="nav-btn btn js-scroll" role="button" href="#contacts">Контакты</a></div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <section class="container section index-banner">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-header__banner">
          Пружины любой сложности
        </h1>
      </div>
    </div>
  </section>
</div>

