<div class="container-fluid headroom">
    <div class="container page-nav">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="index.html">
                    <img alt="Точмаш" src="img/logo.png" class="img-responsive nav-logo">
                </a>
            </div>
            <div class="col-md-9">
                <header class="navbar page-header">
                    <div class="col-md-5">
                        <p class="logo-text">Донецкий завод<br>точного машиностроения</p>
                    </div>
                    <a class="btn btn-phone pull-right" href="tel:88635222457">8(863)-522-24-57</a>
                </header>
                <hr class="header-hr">
                <nav>
                    <div class=" btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="index.html#products">Продукция</a></div>
                        <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="/services.html">Услуги</a></div>
                        <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="/delivery.html">Доставка</a></div>
                        <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="/contacts.html">Контакты</a></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

