<div class="container page-nav">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <a href="index.html">
                <img alt="Точмаш" src="img/logo.png" class="img-responsive nav-logo">
            </a>
        </div>
        <div class="col-md-9">
            <header class="navbar page-header">
                <div class="col-md-4">
                    <p class="logo-text">Донецкий завод точного машиностроения</p>
                </div>
                <a class="btn btn-phone pull-right" href="tel:+78004005050">+7(800)-200-95-95</a>
            </header>
            <hr class="header-hr">
            <nav>
                <div class=" btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group"><a class="nav-btn btn js-scroll" role="button" href="#products">Продукция</a></div>
                    <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="/services.html">Услуги</a></div>
                    <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="#delivery">Доставка</a></div>
                    <div class="btn-group" role="group"><a class="nav-btn btn" role="button" href="/contacts.html">Контакты</a></div>
                </div>
            </nav>
        </div>
    </div>
</div>
