.slide-panel {
  position: relative;
  min-height: 100vh;

  .side-panel {
    position: absolute;
    width: 140px;
    overflow-x: hidden;
    left: 0;
  }

  .side-item {
    float: left;
    position: relative;
    height: 100vh;
    width: 70px;
    cursor: pointer;

    z-index: 999;

    transition: all .3s linear;

    &:hover {
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      z-index: 1000;
    }

    &--baikal {
      background-color: #0794d5;
    }

    &--dl {
      background-color: #f5ad02;
    }

    &--pek {
      background-color: #3d52a3;
    }

    p {
      position: absolute;
      white-space: nowrap;
      display: block;
      top: 0;
      left: 50%;
      margin: 30px 0 0 0;
      transform: rotate(-90deg) translate(-100%, -20px);
      transform-origin: left top 0;
      .font(@russo, 2em, 1.5em);
      color: white;
      text-transform: uppercase;

      &::after {
        .pseudo();

        top: 28%;
        right: -20px;
        line-height: 1.5em;
        width: 15px;
        height: 15px;
        background-color: white;
      }
    }
  }
}

.slide-panel__amply {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  padding-top: 10vh;

  &.baikal {
    background-color: #0794d5;
    z-index: 99;
  }

  &.dl {
    background-color: #f5ad02;
    z-index: 99;
  }

  &.pek {
    background-color: #3d52a3;
    z-index: 99;
  }

  .logo-wrapper {
    padding: 15px 0;
    background-color: white;
    height: 150px;

    & .logo--bottom {
      transform: translateY(-75px);
    }

    @media @md-desktop {
      height: 100px;
    }

    img {
      @media @md-desktop {
        max-width: 300px;
        height: auto;
      }
    }
  }

  .text-about {
    margin: 40px 0;
    .font(@akrobat, 2em, 1.5em);
    color: white;

    @media @wide-desktop {
      font-size: 1.8em;
      line-height: 1.5em;
    }
  }

  .track-wrapper {
    position: absolute;
    padding: 0;
    top: 10%;
    right: 0;

    @media @wide-desktop {
      img {
        width: 300px;
        height: auto;
        margin-left: auto;
      }
    }
  }
}
