<section class="slide-panel">
    <aside class="side-panel">
        <div class="side-item side-item--baikal" data-toggle="baikal">
            <p>Байкал Сервис  </p>
        </div>
        <div class="side-item side-item--dl" data-toggle="dl">
            <p>Деловые линии  </p>
        </div>
        <div class="side-item side-item--pek" data-toggle="pek">
            <p>ПЭК</p>
        </div>
    </aside>
    <div class="container-fluid slide-panel__amply baikal animated" style="display: none;">
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo img-responsive" src="img/baikal-inline.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores aut deserunt dicta dignissimos, exercitationem libero veritatis. A ab accusantium alias, amet blanditiis consequuntur corporis distinctio dolore doloremque eligendi enim est eum facere fugiat, illo ipsum iure laboriosam nemo suscipit, temporibus totam voluptates voluptatibus? Architecto excepturi odit quasi. Consectetur ea explicabo maiores odio optio perferendis quia quidem sequi sint ullam! Amet atque commodi consequatur, cupiditate distinctio dolor dolore doloremque earum error et ipsum natus necessitatibus nostrum numquam obcaecati pariatur provident quam quasi quod repudiandae similique, sunt voluptas voluptates. Fugiat fugit illum sequi vel voluptate. Amet cum deserunt iure! Ex, porro!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a href="" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid slide-panel__amply dl animated" style="display: none;">
        <!--style="display: none;"-->
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo img-responsive" src="img/dl-inline.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores aut deserunt dicta dignissimos, exercitationem libero veritatis. A ab accusantium alias, amet blanditiis consequuntur corporis distinctio dolore doloremque eligendi enim est eum facere fugiat, illo ipsum iure laboriosam nemo suscipit, temporibus totam voluptates voluptatibus? Architecto excepturi odit quasi. Consectetur ea explicabo maiores odio optio perferendis quia quidem sequi sint ullam! Amet atque commodi consequatur, cupiditate distinctio dolor dolore doloremque earum error et ipsum natus necessitatibus nostrum numquam obcaecati pariatur provident quam quasi quod repudiandae similique, sunt voluptas voluptates. Fugiat fugit illum sequi vel voluptate. Amet cum deserunt iure! Ex, porro!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a href="" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid slide-panel__amply pek animated" style="display: none;">
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo logo--bottom img-responsive" src="img/delivery-pek.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores aut deserunt dicta dignissimos, exercitationem libero veritatis. A ab accusantium alias, amet blanditiis consequuntur corporis distinctio dolore doloremque eligendi enim est eum facere fugiat, illo ipsum iure laboriosam nemo suscipit, temporibus totam voluptates voluptatibus? Architecto excepturi odit quasi. Consectetur ea explicabo maiores odio optio perferendis quia quidem sequi sint ullam! Amet atque commodi consequatur, cupiditate distinctio dolor dolore doloremque earum error et ipsum natus necessitatibus nostrum numquam obcaecati pariatur provident quam quasi quod repudiandae similique, sunt voluptas voluptates. Fugiat fugit illum sequi vel voluptate. Amet cum deserunt iure! Ex, porro!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a href="" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
</section>