<section class="slide-panel" style="display: none;">
    <aside class="side-panel">
        <div class="side-item side-item--baikal" data-toggle="baikal">
            <p>Байкал Сервис  </p>
        </div>
        <div class="side-item side-item--dl" data-toggle="dl">
            <p>Деловые линии  </p>
        </div>
        <div class="side-item side-item--pek" data-toggle="pek">
            <p>ПЭК</p>
        </div>
    </aside>
    <div class="container-fluid slide-panel__amply baikal animated" style="display: none;">
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo img-responsive" src="img/baikal-inline.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Мы осуществляем ежедневную доставку во все регионы России!
                        Наша компания уделяет большое внимание, чтобы Вы в кратчайшие сроки получили Ваш заказ и при этом не переплатили за доставку. Поэтому наши менеджеры стараются выбрать наиболее оптимального грузоперевозчика с целью доставки Вашего заказа. Доставка заказа осуществляется в Вашем городе как до терминала грузоперевозчика, так и непосредственно до вашего склада или офиса.
                        Мы сотрудничаем с транспортной компанией «Байкал Сервис», которая более 20 лет перевозит сборные грузы по России и имеет более 150 городов присутствия, что позволяет ей предоставлять клиентам выгодные решения в организации грузоперевозок и осуществлять транспортные и логистические услуги в едином стандарте обслуживания.                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a target="_blank" href="https://www.baikalsr.ru/tools/calculator/" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid slide-panel__amply dl animated" style="display: none;">
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo img-responsive" src="img/dl-inline.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Мы осуществляем ежедневную доставку во все регионы России!
                        Наша компания уделяет большое внимание, чтобы Вы в кратчайшие сроки получили Ваш заказ и при этом не переплатили за доставку. Поэтому наши менеджеры стараются выбрать наиболее оптимального грузоперевозчика с целью доставки Вашего заказа.
                        Мы сотрудничаем с транспортной компанией «Деловые Линии» позволяющая осуществлять грузовые перевозки сборным грузом, либо индивидуальным, выделенным под заказ клиента, транспортом. Грузоперевозки осуществляются в любую точку России или за границу – в Беларусь, Казахстан, Киргизию, Армению. Имеется два вида срочной перевозки грузов – авиаперевозку и экспресс. Перевозка грузов авиатранспортом осуществляется в большинство городов России, где есть аэропорты, а также за границу.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a target="_blank" href=" https://www.dellin.ru/requests/" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid slide-panel__amply pek animated" style="display: none;">
        <div class="row logo-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <img class="logo logo--bottom img-responsive" src="img/delivery-pek.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-2">
                    <p class="text-about">
                        Мы осуществляем ежедневную доставку во все регионы России!
                        Наша компания уделяет большое внимание, чтобы Вы в кратчайшие сроки получили Ваш заказ и при этом не переплатили за доставку. Мы сотрудничаем с транспортной компанией ПЭК, которая имеет филиалы в 120 городах России, при этом забор и адресная доставка грузов и товаров клиентов осуществляется в радиусе 300 км от каждого филиала. География транспортных услуг охватывает практически всю территорию РФ, включая Крым. Имеется система льготной доставки Компании «ПЭК», которая позволяет по приемлемым ценам обслуживать города Ямало-Ненецкого автономного округа, а также Новый Уренгой, Находку, Комсомольск-на-Амуре и др. Филиалы во всех городах подключены к единой информационной системе, а значит, у клиентов есть возможность в любое время получить исчерпывающую информацию о местонахождении груза в любой точке страны.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a target="_blank" href="https://pecom.ru/services-are/the-calculation-of-the-cost/" class="white-btn">Заказать доставку</a>
                </div>
            </div>
        </div>
    </div>
</section>