<section class="container item-section">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <h2 class="item-title">
                Пружины кручения
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="img/item-item-1.png" class="img-responsive">
        </div>
        <div class="col-md-6">
            <p class="item-text">
                Пружины кручения - это пружины, работающие на скручивание,
                подвергающиеся нагрузке от пары сил, действующих
                в параллельных плоскостях, перпендикулярных оси<br>
                <br>
                Такие пружины работают на изгиб и делятся на:<br>
                <br>
                - торсионные (когда стержень работает на кручение);
                - витые (работают по принципу мышеловок).<br>
                <br>
                Пружины изготавливаются с различным числом витков,
                а их концы могут быть весьма разнообразной конструкции
                в зависимости от предъявляемых требованиям.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-6">
            <button class="primary-btn" data-toggle="modal" data-target="#modal-order">Заказать пружину</button>
        </div>
    </div>
</section>