<div class="service-banner container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-5 substrate">
            <div class="develop-wrapper">
                <h3 class="develop-title">Изготовим пружины</h3>
                <ul class="develop-list">
                    <li class="develop-item">По вашим чертежам</li>
                    <li class="develop-item">По образцам</li>
                    <li class="develop-item">По техническому заданию</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="service-designation container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3 class="section-title">Изготовление оборудования и запасных частей для всех отраслей
                промышленности</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                deserunt ducimus est exercitationem harum ipsum molestias possimus veritatis? Corporis cumque expedita,
                labore numquam perspiciatis velit. Beatae cum facilis, labore perferendis reprehenderit sequi unde
                velit. Amet at fugiat illo ipsa, nulla obcaecati similique. Cum ducimus eius fugiat iure, maiores
                mollitia perferendis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-1.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Валы</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-2.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Вал-шестерни</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-3.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Колеса зубчатые</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-4.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Модельное производство</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-5.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Литье</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-6.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Запчасти к насосам</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-7.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Металлические сита</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 visible-md-block visible-lg-block">
            <div class="card reveal-item">
                <div class="img-wrapper"><img src="img/service-item-8.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Лазерная и плазменная резка листового металла</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card reveal-item">
                <div class="img-wrapper"><img class="center-block" src="img/service-item-9.png" alt=""></div>
                <div class="inner-circle"></div>
                <div class="card-block">
                    <p class="card-text">Шнеки</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flexslider-wrapper">
    <div class="flexslider flexslider-service">
        <ul class="slides">
            <li class="relative">
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 slogan-wrapper slogan-wrapper--bottom">
                                <h4>Валы</h4>
                                <p class="slogan-text">
                                    длинной до 12500 мм, диаметром 2550 мм
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-1"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-8 slogan-wrapper">
                                <h4>Вал-шестерни</h4>
                                <p class="slogan-text">
                                    с динамической балансировкой<br>
                                    длиной до 4000 мм, диаметром до 3600 мм
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-2"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-6 slogan-wrapper text-left">
                                <h4>Колеса зубчатые</h4>
                                <p class="slogan-text">
                                    цилиндрические диаметром до 3600 мм,<br>
                                    конические диаметром до 600
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-3"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-6 slogan-wrapper slogan-wrapper--inverse text-left">
                                <h4>Литье</h4>
                                <p class="slogan-text">
                                    стальное, чугунное
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-4"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-7 col-md-offset-5 slogan-wrapper text-right">
                                <h4>Модельное производство</h4>
                                <p class="slogan-text">
                                    модельная оснастка, как для ручной,<br>
                                    так и машинной формовки
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-5"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-7 slogan-wrapper text-left">
                                <h4>
                                    Запасные части к <br>
                                    насосам
                                </h4>
                                <p class="slogan-text">
                                    СЕРИИ НК, НКВ, ГРАУ, ГРУ, ГРУТ, ГРАТ,<br>
                                    ГРАК, ПРВП, ПКВП: УТИЛИТЫ,РАБОЧИЕ КОЛЕСА,<br>
                                    КРЫШКИ НАПОРА, КРЫШКИ ВСАСА, ДИСКИ И ДР.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-6"></div>
                </div>
            </li>
            <li class="relative">
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 slogan-wrapper slogan-wrapper--bottom text-left">
                                <h4 class="text-dark">
                                    Металлические<br>
                                    сита
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide-7"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-10 slogan-wrapper slogan-wrapper--inverse text-left">
                                <h4 >
                                    Лазерная<br>
                                    и плазменная<br>
                                    резка листового металла
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="slide-8"></div>
                </div>
            </li>
            <li>
                <div class="container-fluid slide-item">
                    <div class="container">
                        <div class="row relative">
                            <div class="col-md-5 col-md-offset-7 slogan-wrapper text-right">
                                <h4>Шнеки</h4>
                                <p class="slogan-text">
                                    с навиваемой спиральной реборжой и цельные
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-9"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
